/* App.css */
* {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: transition for smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* You can add utility overrides or animations here */

